* {
  box-sizing: border-box;
}
html {
  font-family: outfit, Verdana, sans-serif;
  font-size: 18px;
}
body {
  margin: 0;
  background-color: #f0e3ca;
  color: #1b1a17;
}
h1,
h2,
h3,
h4 {
  font-family: Lobster, sans-serif;
  font-size: 26px;
  color: #a35709;
}
h1 {
  font-size: 30px;
  color: #080808;
}
header,
main {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.page-header {
  text-align: center;
  background-color: #7e583e;
  padding: 18px;
}
