* {
  box-sizing: border-box;
}
html {
  font-family: outfit, Verdana, sans-serif, inherit;
  font-size: 18px;
}
body {
  margin: 0;
  background-color: #f0e3ca;
  color: #1b1a17;
}
h1,
h2,
h3,
h4 {
  padding-left: 16px;
  font-family: Lobster, sans-serif;
  font-size: 26px;
  color: #a35709;
}
h1 {
  font-size: 30px;
  color: #080808;
}
header,
main {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

article {
  border-bottom: #876445 solid 5px;
  margin-top: 1rem;
}
article:first-child {
  border: none;
}

*/* classes */*
.navi {
  margin-right: 50px;
  color: #262626;
}
.page-header {
  text-align: center;
  background-color: #7e583e;
  padding: 18px;
}
a:hover {
  color: goldenrod;
}

a:active {
  background-color: #58391c;
}

::selection {
  background-color: black;
  color: white;
}
.profession::after {
  content: "😼";
}
