/***************************************************************************
General Stylings*/
* * {
  box-sizing: border-box;
}
html {
  font-family: outfit, Verdana, sans-serif, inherit;
  font-size: 10px;
}
body {
  margin: 0;
  background-color: #f0e3ca;
  color: #1b1a17;
}

h1,
h2,
h3,
h4 {
  padding-left: 1.6rem;
  font-family: Lobster, sans-serif;
  font-size: 2.6rem;
  color: #a35709;
}
h1 {
  font-size: 30px;
  color: #080808;
}
header,
main {
  padding: 3rem;
  max-width: 80ch;
  margin: 0 auto;
  font-size: 2.2rem;
}

article {
  border-bottom: #876445 solid 0.5rempx;
  margin-top: 1rem;
}
main article {
  padding-left: 5rem;
  padding-right: 5rem;
}
article:first-child {
  border: none;
}
*/***************************************************************************/*
*/* specific stylings */*
.navi {
  margin-right: 5rem;
  color: #262626;
}
.page-header {
  text-align: center;
  background-color: #7e583e;
  padding: 1.8rem;
}
a:hover {
  color: goldenrod;
}

a:active {
  background-color: #58391c;
}

::selection {
  background-color: black;
  color: white;
}
.profession::after {
  content: "😼";
}
.experience-heading {
  display: inline-block;
}

.profile-heading {
  position: relative;
  left: 1rem;
}
.hm-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.2rem;
  margin-top: 1rem;
  background: sienna;
  border-radius: 0.4rem;
}

.header-heading {
  font-size: 5em;
}

.header-heading p {
  font-size: 20%;
}
